body {
    margin: 0
}

.heater {
    background: white;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo {
    width: 30%;
    float: left;
    font-size: 20px;
    padding-top: 20px;
    font-family: 'Train One', cursive;
    position: relative;
    left: 10px;
}

.sub {
    color: white;
    font-size: 20px;
}

.menu-btn {
    width: 64px;
    height: 64px;
    background: DarkSeaGreen;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    padding-top: 7px;
    box-sizing: border-box;
}

.menu-btn span {
    width: 60%;
    height: 2px;
    background: #fff;
    display: block;
    margin: 10px auto;
}

.menu-box {
    width: 100%;
    height: 70%;
    background: DarkSeaGreen;
    position: fixed;
    left: 0;
    top: -70%;
    padding: 30px;
    box-sizing: border-box;
    z-index: 2;
}

.menu-box a {
    color: #fff;
    font-size: 45px;
    font-family: sans-serif;
    line-height: 1.6;
}

.active {
    top: 0 !important;
}

.s1 {
    background: AliceBlue;
    width: 100%;
    height: 600px;
    margin-bottom: 0px;
}

.fri {
    max-width: 620px;
    margin-top: 50px;
}

.p1 {
    margin: 115px 0 125px 47%;
}

.t1 {
    position: absolute;
    top: 370px;
    left: 100px;
    font-size: 40px;
}

.t2 {
    position: absolute;
    top: 450px;
    left: 100px;
    font-size: 40px;
}

.s2 {
    background: LightSteelBlue;
    width: 100%;
    height: 600px;
}

.hea {
    margin-top: 150px;
    margin-left: 30%;
}

.t3 {
    margin-left: 700px;
    margin-top: -150px;

}

.t4 {
    margin-left: 700px;

}

.t5 {
    text-align: center;
    margin-top: 130px;
    font-size: 20px;

}

.t5-2 {
    text-align: center;
    font-size: 20px;
}



.content {
    width: 1000px;
    margin: 100px auto;
    /*    margin: 上下寬值 左右寬值(一定要兩個值)(0 auto為置中)*/
}



.s3 {
    background-color: AliceBlue;
    width: 100%;
    height: 800px;
}

.t6 {
    text-align: center;
    margin-top: 100px;
    font-size: 21px;
}

.box1 {
    position: relative;
    left: 80px;
    top: 120px;
    height: 280px;
    width: 350px;
    background-color: white;
}

.box2 {
    position: relative;
    left: 100px;
    top: 120px;
    height: 280px;
    width: 350px;
    background-color: white;
}

.box3 {
    position: relative;
    left: 120px;
    top: 120px;
    height: 280px;
    width: 350px;
    background-color: white;
}

.box1-1 {
    text-align: center;
    /*    line-height: 400px;*/
    font-size: 21px;
}


.s4 {
    background: white;
    width: 100%;
    height: 1300px;
}

.p5 {
    margin-top: 200px;
    margin-left: 200px;
}

.wo1 {
    margin-top: -400px;
    margin-left: 600px;
    font-size: 50px;
}

.wo2 {
    position: absolute;
    background-color: white;
    width: 210px;
    margin-left: 600px;
    font-size: 40px;
}

.wo3 {
    position: absolute;
    background-color: white;
    width: 400px;
    margin-top: 80px;
    margin-left: 600px;
    font-size: 30px;
}

.b4-2 {
    position: relative;
    top: 600px;
}

.wo4 {
    position: relative;
    background-color: white;
    margin-left: 600px;
    margin-top: -200px;
    font-size: 30px;
}

.wo5 {
    position: relative;
    background-color: white;
    margin-left: 600px;
    font-size: 30px;
}

.s5 {
    background: LightSteelBlue;
    width: 100%;
    height: 1700px;
}

.p8 {
    margin-top: 100px;
}

.wo7 {
    margin-top: -500px;
    margin-left: 850px;
    font-size: 40px;
}

.wo8 {
    position: absolute;
    background-color: white;
    width: 210px;
    margin-top: 100px;
    margin-left: 830px;
    font-size: 40px;
}

.wo9 {
    position: absolute;
    background-color: white;
    width: 440px;
    margin-left: 600px;
    margin-top: 180px;
    font-size: 30px;
}

.b4-4 {
    position: relative;
    top: 500px;
    left: 400px;
    max-width: 100px;
}

.b4-5 {
    position: relative;
    top: 550px;
    left: 400px;
    max-width: 100px;
}

.wo10 {
    position: relative;
    background-color: snow;
    width: 200px;
    margin-left: -50px;
    margin-top: -200px;
    font-size: 30px;
}

.wo11 {
    position: relative;
    background-color: snow;
    width: 300px;
    margin-left: -50px;
    font-size: 30px;
}

.wo12 {
    position: relative;
    background-color: snow;
    width: 200px;
    margin-left: -50px;
    font-size: 30px;
}

.s6 {
    background: white;
    width: 100%;
    height: 1700px;
}

.b6-1 {
    margin-top: 200px;
    margin-left: 150px;
}

.wo13 {
    margin-top: -750px;
    margin-left: 0px;
    font-size: 40px;
    color: MidnightBlue;
}

.wo14 {
    position: absolute;
    background-color: LightSteelBlue;
    width: 20px;
    margin-left: -60px;
    font-size: 60px;
    color: MidnightBlue;
}

.wo15 {
    position: absolute;
    background-color: white;
    width: 40px;
    margin-left: 1000px;
    margin-top: -100px;
    font-size: 30px;
    color: MidnightBlue;
}

.b6-2 {
    margin-top: 700px;

}

.p14 {
    margin-top: -400px;
    margin-left: 650px;
    width: 500px;
}

.wo16 {
    text-decoration: underline;
    margin-left: 700px;
    margin-top: -600px;
    font-size: 30px;
    color: MidnightBlue;
}

.wo17 {
    text-decoration: underline;
    margin-left: 700px;
    font-size: 30px;
    color: MidnightBlue;
}

.footer {
    background: LightSteelBlue;
    width: 100%;
    height: 200px;
    clear: left;
}

.b {
    color: MidnightBlue;
    text-align: center;
    line-height: 200px;
}

.top {
    background: lavender;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-family: sans-serif;
}

.bbb3 {
    width: 700px;
    height: 460px;
}

.fri {
    position: absolute;
    top: 100px;
    left: 650px;
    width: 700px;
    height: 460px;
}

.p2 {
    margin-top: 10px;
}

.p3 {
    margin-top: 10px;
}

.p4 {
    margin-top: 10px;
}


.row {
    max-width: 95%;
}

@media screen and (max-width:768px) {
    .logo{
        font-size: 15px;
    }
    .menu-box a {
        font-size: 30px;
        line-height: 2;
    }

    .t1 {
        font-size: 25px;
        top: 400px;
    }

    .t2 {
        font-size: 25px;
    }

    .fri {
        width: 375px;
        height: 200px;
        left: 20%;
    }

    .hea {
        margin-top: 130px;
        margin-left: 30%;
        width: 160px;
    }

    .t3 {
        margin-left: 30%;
        margin-top: 40px;

    }

    .t4 {
        margin-left: 30%;

    }

    .t5 {
        text-align: center;
        margin-top: 40px;
        font-size: 13px;

    }

    .t5-2 {
        text-align: center;
        font-size: 13px;
    }

    .s3 {
        height: 1100px;
    }

    .t6 {
        text-align: center;
        margin-top: 100px;
        font-size: 21px;
    }

    .box1 {
        position: relative;
        left: 80px;
        top: 0px;
        height: 280px;
        width: 350px;
        background-color: white;
    }

    .box2 {
        position: relative;
        left: 80px;
        top: 20px;
        height: 280px;
        width: 350px;
        background-color: white;
    }

    .box3 {
        position: relative;
        left: 80px;
        top: 40px;
        height: 280px;
        width: 350px;
        background-color: white;
    }

    .s4 {
        background: white;
        width: 100%;
        height: 1200px;
    }

    .p5 {
        margin-top: 200px;
        margin-left: 0px;
    }

    .wo1 {
        margin-top: -400px;
        margin-left: 280px;
        font-size: 30px;
    }

    .wo2 {
        position: absolute;
        background-color: white;
        width: 210px;
        margin-left: 280px;
        font-size: 25px;
    }

    .wo3 {
        position: absolute;
        background-color: white;
        width: 400px;
        margin-top: 60px;
        margin-left: 280px;
        font-size: 18px;
    }

    .p6 {
        width: 450px;
    }

    .wo4 {
        position: relative;
        background-color: white;
        margin-left: 300px;
        margin-top: -50px;
        font-size: 16px;
    }

    .wo5 {
        position: relative;
        background-color: white;
        margin-left: 300px;
        font-size: 16px;
    }

    .s5 {
        background: LightSteelBlue;
        width: 100%;
        height: 1700px;
    }

    .p8 {
        width: 450px;
    }

    .wo7 {
        margin-top: -350px;
        margin-left: 340px;
        font-size: 30px;
    }

    .wo8 {
        width: 140px;
        margin-top: 0px;
        margin-left: 340px;
        font-size: 25px;
    }

    .wo9 {
        width: 260px;
        margin-left: 200px;
        margin-top: 300px;
        font-size: 18px;
    }

    .b4-4 {
        top: 400px;
        left: 0px;
        max-width: 500px;
    }

    .b4-5 {
        top: 550px;
        left: 0px;
        width: 400px;
    }

    .wo10 {
        position: relative;
        background-color: snow;
        width: 130px;
        margin-top: 20px;
        font-size: 18px;
        left: 60px;
    }

    .wo11 {
        position: relative;
        background-color: snow;
        width: 170px;
        font-size: 18px;
        left: 60px;
    }

    .wo12 {
        position: relative;
        background-color: snow;
        width: 130px;
        font-size: 18px;
        left: 60px;
    }

    .s6 {
        background: white;
        width: 100%;
        height: 2400px;
    }

    .b6-1 {
    margin-top: 50px;
    margin-left: 0px;
}

    .wo13 {
        margin-top: -750px;
        margin-left: 400px;
        font-size: 20px;
        color: MidnightBlue;
    }

    .wo14 {
        position: absolute;
        background-color: LightSteelBlue;
        width: 150px;
        margin-left: 320px;
        font-size: 25px;
        color: MidnightBlue;
    }

    .wo15 {
        position: absolute;
        background-color: white;
        width: 40px;
        margin-left: 430px;
        margin-top: 80px;
        font-size: 30px;
        color: MidnightBlue;
    }

    .p13 {
        width: 350px;

    }

    .p14 {
        margin-top: 100px;
        margin-left: 0px;
        width: 500px;
    }

    .wo16 {
        text-decoration: underline;
        margin-left: 360px;
        margin-top: -500px;
        font-size: 15px;
        color: MidnightBlue;
    }

    .wo17 {
        text-decoration: underline;
        margin-left: 360px;
        font-size: 15px;
        color: MidnightBlue;
    }
}
